---
# AUR helpers (paru, yay)

- name: Check if paru is installed
  command: which paru
  register: paru_check
  changed_when: false
  failed_when: false

- name: Check if yay is installed
  command: which yay
  register: yay_check
  changed_when: false
  failed_when: false

- name: Install base-devel for AUR
  become: true
  pacman:
    name:
      - base-devel
      - git
    state: present

- name: Create AUR build directory
  file:
    path: "{{ dotfiles_dir }}/../build/aur"
    state: directory
    mode: "0755"

- name: Clone and install paru
  when: paru_check.rc != 0
  block:
    - name: Clone paru
      git:
        repo: https://aur.archlinux.org/paru.git
        dest: "{{ dotfiles_dir }}/../build/aur/paru"
        depth: 1
    - name: Build paru
      command: makepkg -si --noconfirm
      args:
        chdir: "{{ dotfiles_dir }}/../build/aur/paru"

- name: Clone and install yay
  when: yay_check.rc != 0
  block:
    - name: Clone yay
      git:
        repo: https://aur.archlinux.org/yay.git
        dest: "{{ dotfiles_dir }}/../build/aur/yay"
        depth: 1
    - name: Build yay
      command: makepkg -si --noconfirm
      args:
        chdir: "{{ dotfiles_dir }}/../build/aur/yay"
