- name: Install nice-to-have packages via pacman
  become: true
  community.general.pacman:
    name:
      - gimp
      - baobab
      - qt5-base
      - qt6-base
      - libreoffice
      - obs-studio
      - pdftk
      - xournalpp
      - okular
      - krita
      - vlc
      - drawio-desktop
      - flameshot
      - exfatprogs
      - appstream-glib # mission-center dependency
      - obs-studio
      - thunderbird
      - discord
      - remmina # remote desktop client
    state: present
- name: Install nice-to-have packages via AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    aur_packages:
      - google-chrome
      - postman-bin
      - pdfarranger
      - amberol
      - anki
      - mission-center
      - pinta
      - python-pympress
      - qutebrowser
      - lmstudio
      - gpu-screen-recorder # ShadowPlay alternative
- name: Install Python tools via pipx
  ansible.builtin.include_role:
    name: pipx_install
  vars:
    package_name: "{{ item }}"
  loop:
    - screenpen
- name: Create Discord update systemd service
  copy:
    dest: /etc/systemd/system/update-discord.service
    owner: root
    group: root
    mode: '0644'
    content: |
      [Unit]
      Description=Update Discord package after boot
      After=network-online.target
      Wants=network-online.target

      [Service]
      Type=oneshot
      ExecStart=/bin/bash -c 'sleep 10 && /usr/bin/pacman -S discord --needed --noconfirm'

      [Install]
      WantedBy=multi-user.target
- name: Enable discord update service
  become: true
  ansible.builtin.systemd:
    name: update-discord.service
    enabled: true
  when: ansible_facts['virtualization_type'] != "docker"
