- name: Install network and printing
  become: true
  community.general.pacman:
    name:
      - networkmanager
      - cups
      - cups-pdf
      - kwallet # for KDE apps
      - evolution-ews # for MS Exchange calendar integration
    state: present
- name: Install media codecs
  become: true
  community.general.pacman:
    name:
      - gst-libav
      - gst-plugins-good
      - gst-plugins-bad
      - gst-plugins-ugly
    state: present
- name: Enable NetworkManager service
  become: true
  ansible.builtin.systemd:
    name: NetworkManager
    enabled: true
  when: ansible_facts['virtualization_type'] != "docker"
- name: Enable CUPS service
  become: true
  ansible.builtin.systemd:
    name: cups
    enabled: true
  when: ansible_facts['virtualization_type'] != "docker"
- name: Disable PAM faillock deny policy
  become: true
  ansible.builtin.lineinfile:
    path: /etc/security/faillock.conf
    regexp: '^deny\s*='
    line: 'deny = 0'
    create: true
    owner: root
    group: root
    mode: '0644'
  when: ansible_facts['virtualization_type'] != "docker"
- name: Reset all faillock counters
  ansible.builtin.command: faillock --reset
  when: ansible_facts['virtualization_type'] != "docker"
