- name: Install GNOME
  become: true
  community.general.pacman:
    name:
      - gnome
      - gnome-extra
      - gnome-tweaks
      - gnome-shell-extensions
      - baobab
      - file-roller
      - sushi
      - gnome-calculator
      - gnome-system-monitor
      - gnome-disk-utility
      - gnome-font-viewer
      - simple-scan
      - evince
      - ntfs-3g
    state: present
- name: Enable GDM for next boot
  become: true
  ansible.builtin.systemd:
    name: gdm
    enabled: true
  when: ansible_facts['virtualization_type'] != "docker"
