- name: Install Niri window manager
  become: true
  community.general.pacman:
    name:
      - niri
      - xwayland-satellite
      - xdg-desktop-portal-gnome
      - xdg-desktop-portal-gtk
      - alacritty
      - wl-clipboard
      - cliphist
      - fuzzel
      - mako
      - waybar
      - swaybg
      - swayidle
      - swaylock
      - udiskie
    state: present
- name: Install AUR packages for Niri
  ansible.builtin.include_role:
    name: aur_build
  vars:
    aur_packages:
      - dms-shell-bin
      - matugen
      - qt6-multimedia-ffmpeg
- name: Enable dms service for Niri
  ansible.builtin.systemd:
    name: dms
    scope: user
    enabled: true
  when: ansible_facts['virtualization_type'] != "docker"
