---
# Zsh setup (configuration only - packages installed via packages role)

- name: Check if zsh is default shell
  shell: echo $SHELL
  register: current_shell
  changed_when: false

- name: Set zsh as default shell (root)
  become: true
  user:
    name: root
    shell: /usr/bin/zsh
  when: "'/zsh' not in current_shell.stdout"

- name: Set zsh as default shell (user)
  become: true
  user:
    name: "{{ user_name }}"
    shell: /usr/bin/zsh
  when: "'/zsh' not in current_shell.stdout"
