- name: Ensure stow is installed
  become: true
  community.general.pacman:
    name: stow
    state: present
- name: Create directories that need to exist before stow runs
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - .config/nvim/spell
    - .tmux/plugins
- name: Create untracked zsh config
  ansible.builtin.file:
    path: "{{ playbook_dir | dirname }}/home/.config/zsh/untracked.zsh"
    state: touch
    mode: "0644"
    modification_time: preserve
    access_time: preserve
- name: Unstow all dotfiles
  command: stow -vvv -D --target ~ home
  args:
    chdir: "{{ playbook_dir | dirname }}"
  changed_when: false
- name: Restow dotfiles
  command: stow -vvv --target ~ home
  args:
    chdir: "{{ playbook_dir | dirname }}"
  changed_when: false
