[submodule "home/.config/nvim"]
	path = home/.config/nvim
	url = ../../antonkesy/nvim-config
[submodule "home/.config/alacritty/themes"]
	path = home/.config/alacritty/themes
	url = ../../alacritty/alacritty-theme
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = ../../tmux-plugins/tpm.git
