# grep path .gitmodules | sed 's/^[ \t]*path = //' | paste -sd '|' -
exclude: ^(home/.config/nvim|home/.config/alacritty/themes|home/.tmux/plugins/tpm|home/keypocalypse-now)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.7.2
    hooks:
      - id: shellcheck
        args: ["--shell=bash", "--severity=error"]
        exclude: ^(home/.config/zsh/p10k.zsh)
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.11.0-1
    hooks:
      - id: shfmt
  - repo: https://github.com/google/yamlfmt
    rev: v0.13.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - --strict
          - -d
          - |
            {
              extends: default,
              rules: {
                line-length: {max: 150},
                document-start: disable,
                truthy: {check-keys: false},
                comments: {min-spaces-from-content: 1}
              }
            }
