- name: Build and install ghcup-hs-bin from AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    aur_packages:
      - ghcup-hs-bin
- name: Install Haskell tools
  become: true
  community.general.pacman:
    name:
      - stack
      - cabal-install
    state: present
