- name: Install OCaml package manager
  become: true
  community.general.pacman:
    name:
      - opam
    state: present
- name: Initialize opam
  ansible.builtin.shell: opam init --auto-setup --disable-sandboxing -n
  args:
    executable: /bin/bash
    creates: "{{ ansible_facts.env.HOME }}/.opam/config"
