---
- name: Install Bluetooth packages
  become: true
  community.general.pacman:
    name:
      - bluez
      - bluez-utils
      - bluetui
    state: present

- name: Enable Bluetooth service
  become: true
  ansible.builtin.systemd:
    name: bluetooth
    enabled: true
    state: started
  when: ansible_facts['virtualization_type'] != "docker"
