- name: Install NVIDIA packages
  become: true
  community.general.pacman:
    name:
      - nvidia
      - nvidia-utils
      - nvidia-settings
      - cuda
    state: present
- name: Enable nvidia-persistenced service
  become: true
  ansible.builtin.systemd:
    name: nvidia-persistenced.service
    enabled: true
  when: ansible_facts['virtualization_type'] != "docker"
- name: Install NVIDIA container tools from AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    aur_packages:
      - libnvidia-container
      - nvidia-container-toolkit
- name: Configure NVIDIA container toolkit for Docker
  become: true
  ansible.builtin.command: nvidia-ctk runtime configure --runtime=docker
  changed_when: false
  when: ansible_facts['virtualization_type'] != "docker"
