- name: Install terminal packages
  become: true
  community.general.pacman:
    name:
      - zsh
      - tmux
      - fzf
      - xsel
      - fd
      - atop
      - btop
      - atuin
      - python-nautilus
      - wl-clipboard # copy from wayland
      - ollama
      - ollama-cuda
      - pandoc
    state: present
- name: Install pipx packages
  community.general.pipx:
    name: "{{ item }}"
  loop:
    - shtab
    - "trash-cli[completion]"
    - nautilus
- name: Install libtmux via pip
  ansible.builtin.command: pip install --user --break-system-packages libtmux
  register: result
  changed_when: "'Successfully installed' in result.stdout"
  failed_when: result.rc != 0 and 'already satisfied' not in result.stdout
- name: Install tmux plugins
  ansible.builtin.shell: ~/.tmux/plugins/tpm/bin/install_plugins || true
  args:
    executable: /bin/bash
  changed_when: false
- name: Install Zint
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: zint
