---
# Neovim setup (build from source - packages installed via packages role)

- name: Create neovim build directory
  file:
    path: "{{ dotfiles_dir }}/../build/neovim"
    state: directory
    mode: "0755"

- name: Clone neovim
  git:
    repo: https://github.com/neovim/neovim.git
    dest: "{{ dotfiles_dir }}/../build/neovim"
    version: v0.10.4
    depth: 1

- name: Clean neovim build directories
  file:
    path: "{{ dotfiles_dir }}/../build/neovim/{{ item }}"
    state: absent
  loop:
    - .deps
    - build

- name: Build neovim
  become: true
  make:
    chdir: "{{ dotfiles_dir }}/../build/neovim"
    params:
      CMAKE_BUILD_TYPE: RelWithDebInfo

- name: Install neovim
  become: true
  make:
    chdir: "{{ dotfiles_dir }}/../build/neovim"
    target: install
