---
# Neovim setup (build from source - packages installed via packages role)

- name: Clean neovim build directories
  become: true
  file:
    path: "{{ dotfiles_dir }}/distros/arch/built_from_source/neovim/{{ item }}"
    state: absent
  loop:
    - .deps
    - build

- name: Build neovim
  become: true
  make:
    chdir: "{{ dotfiles_dir }}/distros/arch/built_from_source/neovim"
    params:
      CMAKE_BUILD_TYPE: RelWithDebInfo

- name: Install neovim
  become: true
  make:
    chdir: "{{ dotfiles_dir }}/distros/arch/built_from_source/neovim"
    target: install
