---
# Rust setup

- name: Check if rustup is installed
  command: which rustup
  register: rustup_check
  changed_when: false
  failed_when: false

- name: Install rustup
  shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  when: rustup_check.rc != 0

- name: Update rust
  command: rustup update
  when: rustup_check.rc == 0
  changed_when: false
