---
# Oh My Zsh setup

- name: Check if oh-my-zsh exists
  stat:
    path: "{{ user_home }}/.oh-my-zsh"
  register: omz_dir

- name: Remove existing oh-my-zsh
  file:
    path: "{{ user_home }}/.oh-my-zsh"
    state: absent
  when: omz_dir.stat.exists and omz_force_reinstall | default(false)

- name: Install oh-my-zsh
  shell: |
    export RUNZSH=no
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
  args:
    creates: "{{ user_home }}/.oh-my-zsh"
