- name: Install Docker packages
  become: true
  community.general.pacman:
    name:
      - docker
      - docker-compose
      - docker-buildx
    state: present
- name: Enable Docker service
  become: true
  ansible.builtin.systemd:
    name: docker
    enabled: true
  when: ansible_facts['virtualization_type'] != "docker"
- name: Create docker group
  become: true
  ansible.builtin.group:
    name: docker
    state: present
- name: Add user to docker group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_facts.user_id }}"
    groups: docker
    append: true
  ignore_errors: "{{ ansible_check_mode }}"
