---
- name: Install Flatpak
  become: true
  community.general.pacman:
    name:
      - flatpak
    state: present

- name: Add Flathub repository
  become: true
  community.general.flatpak_remote:
    name: flathub
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
    state: present
  when: ansible_facts['virtualization_type'] != "docker"
