---
- name: Install miscellaneous packages
  become: true
  community.general.pacman:
    name:
      - libreoffice
      - gimp
      - qt5-base
      - obs-studio
      - pdftk
      - bison
      - xournalpp
      - okular
      - krita
      - vlc
      - drawio-desktop
      - flameshot
      - flex
    state: present

- name: Install Postman from AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: postman-bin

- name: Install pdfarranger from AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: pdfarranger

- name: Install amberol from AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: amberol

- name: Install pympress from AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: python-pympress

- name: Install screenpen via pipx
  ansible.builtin.command: pipx install screenpen
  register: result
  changed_when: "'installed package' in result.stdout"
  failed_when: result.rc != 0 and 'already' not in result.stderr

- name: Install cargo tools
  ansible.builtin.shell: cargo install exa bat ripgrep fd-find procs bottom dysk
  args:
    executable: /bin/bash
  changed_when: false
