---
- name: Check if Oh My Zsh is installed
  ansible.builtin.stat:
    path: "{{ ansible_facts.env.HOME }}/.oh-my-zsh"
  register: ohmyzsh_check

- name: Remove existing Oh My Zsh installation
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/.oh-my-zsh"
    state: absent
  when: ohmyzsh_check.stat.exists

- name: Install Oh My Zsh
  ansible.builtin.shell: |
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
  args:
    executable: /bin/bash
    creates: "{{ ansible_facts.env.HOME }}/.oh-my-zsh"
  environment:
    RUNZSH: "no"
