---
# Python setup

- name: Install Python packages
  become: true
  pacman:
    name: "{{ python_packages }}"
    state: present

- name: Ensure pipx path
  command: pipx ensurepath
  changed_when: false

- name: Install pipx packages
  command: "pipx install {{ item }}"
  loop: "{{ python_pipx_packages }}"
  register: pipx_result
  changed_when: "'installed package' in pipx_result.stdout"
  failed_when: false

- name: Install Python versions from AUR
  command: "yay -S --noconfirm --needed {{ item }}"
  loop: "{{ python_aur_packages }}"
  changed_when: false
  failed_when: false
