---
# Python setup

- name: Install Python packages
  become: true
  pacman:
    name:
      - python
      - python-pip
      - python-pipx
      - python-virtualenv
    state: present

- name: Ensure pipx path
  command: pipx ensurepath
  changed_when: false

- name: Install pipx packages
  command: "pipx install {{ item }}"
  loop:
    - pre-commit
    - jupyterlab
    - notebook
  register: pipx_result
  changed_when: "'installed package' in pipx_result.stdout"
  failed_when: false

- name: Install Python versions from AUR
  command: "yay -S --noconfirm --needed {{ item }}"
  loop:
    - python38
    - python39
    - python310
    - python311
    - python312
  changed_when: false
  failed_when: false
