- name: Install ollama
  become: true
  community.general.pacman:
    name:
      - ollama
      - ollama-cuda
- name: Create systemd service for Ollama
  become: true
  copy:
    dest: /etc/systemd/system/ollama.service
    mode: '0644'
    content: |
      [Unit]
      Description=Ollama Service
      After=network-online.target

      [Service]
      ExecStart=/usr/bin/ollama serve
      User=ollama
      Group=ollama
      Restart=always
      RestartSec=3
      Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

      [Install]
      WantedBy=multi-user.target
  when: ansible_facts['virtualization_type'] != "docker"
- name: Reload systemd daemon
  become: true
  systemd:
    daemon_reload: true
  when: ansible_facts['virtualization_type'] != "docker"
- name: Enable and start Ollama service
  become: true
  systemd:
    name: ollama
    enabled: true
    state: started
  when: ansible_facts['virtualization_type'] != "docker"
