- name: Install Java development packages
  become: true
  community.general.pacman:
    name:
      - maven
      - jdk8-openjdk
      - jdk21-openjdk
      - gradle
      - zip
      - unzip
      - curl
    state: present
