- name: Set build directory
  ansible.builtin.set_fact:
    build_dir: "{{ playbook_dir }}/../build"
  when: build_dir is not defined
- name: Install base-devel and build dependencies
  become: true
  community.general.pacman:
    name:
      - base-devel
      - git
    state: present
- name: Install AUR packages
  ansible.builtin.include_tasks: install_package.yml
  loop: "{{ aur_packages }}"
  loop_control:
    loop_var: package_name
