- name: Install nice-to-have packages via pacman
  become: true
  community.general.pacman:
    name:
      - gimp
      - baobab
      - qt5-base
      - qt6-base
      - libreoffice
      - obs-studio
      - pdftk
      - xournalpp
      - okular
      - krita
      - vlc
      - drawio-desktop
      - flameshot
      - exfatprogs
      - appstream-glib # mission-center dependency
      - obs-studio
      - thunderbird
      - discord
      - remmina # remote desktop client
    state: present
- name: Install nice-to-have packages via AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    aur_packages:
      - google-chrome
      - postman-bin
      - pdfarranger
      - amberol
      - anki
      - mission-center
      - pinta
      - python-pympress
      - qutebrowser
      - lmstudio
- name: Install Python tools via pipx
  ansible.builtin.include_role:
    name: pipx_install
  vars:
    package_name: "{{ item }}"
  loop:
    - screenpen
