- name: Install GNOME
  become: true
  community.general.pacman:
    name:
      - gnome
      - gnome-extra
      - gnome-tweaks
      - gnome-shell-extensions
      - baobab
      - file-roller
      - sushi
      - gnome-calculator
      - gnome-system-monitor
      - gnome-disk-utility
      - gnome-font-viewer
      - simple-scan
      - evince
      - ntfs-3g
    state: present
- name: Install network and printing
  become: true
  community.general.pacman:
    name:
      - networkmanager
      - cups
      - cups-pdf
    state: present
- name: Install media codecs
  become: true
  community.general.pacman:
    name:
      - gst-libav
      - gst-plugins-good
      - gst-plugins-bad
      - gst-plugins-ugly
    state: present
- name: Install Hyprland window manager
  become: true
  community.general.pacman:
    name:
      - hyprland
      - cpio
      - glaze
      - hyprland-protocols
      - uwsm
      - dolphin
      - dunst
      - grim
      - kitty
      - polkit-kde-agent
      - qt5-wayland
      - qt6-wayland
      - slurp
      - wofi
      - xdg-desktop-portal-hyprland
      - waybar
      - cliphist
      - wl-clipboard # wayland clipboard utils
      - kvantum # themes
      - pipewire
      - wireplumber
      - pamixer
      - brightnessctl
    state: present
- name: Install tofi
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: tofi
- name: Install hyprlock
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: hyprlock
- name: Install wlogout
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: wlogout
- name: Install hypridle
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: hypridle
- name: install swww
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: swww
- name: Install better-control from AUR
  ansible.builtin.include_role:
    name: aur_build
  vars:
    package_name: better-control-git
- name: Enable GDM service
  become: true
  ansible.builtin.systemd:
    name: gdm
    enabled: true
  when: ansible_facts['virtualization_type'] != "docker"
- name: Enable NetworkManager service
  become: true
  ansible.builtin.systemd:
    name: NetworkManager
    enabled: true
    state: started
  when: ansible_facts['virtualization_type'] != "docker"
- name: Enable CUPS service
  become: true
  ansible.builtin.systemd:
    name: cups
    enabled: true
    state: started
  when: ansible_facts['virtualization_type'] != "docker"
