- name: Install Hyprland window manager
  become: true
  community.general.pacman:
    name:
      - hyprland
      - cpio
      - glaze
      - hyprland-protocols
      - uwsm
      - dolphin
      - dunst
      - grim
      - kitty
      - polkit-kde-agent
      - qt5-wayland
      - qt6-wayland
      - slurp
      - wofi
      - xdg-desktop-portal-hyprland
      - waybar
      - cliphist
      - wl-clipboard # wayland clipboard utils
      - kvantum # themes
      - pipewire
      - wireplumber
      - pamixer
      - brightnessctl
    state: present
- name: Install AUR packages for Hyprland
  ansible.builtin.include_role:
    name: aur_build
  vars:
    aur_packages:
      - tofi
      - hyprlock
      - wlogout
      - hypridle
      - swww
      - better-control-git
- name: Update hyprpm
  ansible.builtin.command:
    become: true
    cmd: hyprpm update
- name: Add hypr-dynamic-cursors plugin
  ansible.builtin.command:
    cmd: yes | hyprpm add https://github.com/virtcode/hypr-dynamic-cursors
  failed_when: false
- name: Enable dynamic-cursors plugin
  ansible.builtin.command:
    become: true
    cmd: hyprpm enable dynamic-cursors
